.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-top: 1px solid #e6e6e6;
}

.chk {
    position: relative;
    margin: 0 15px;
}

.chk:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #e6e6e6;
    border-radius: 100%;
    top: 7px;
    left: 7px;
    transform: translate(-50%, -50%);
    transition: all ease-out 200ms;
    text-indent: 90px;
    font: normal normal 30px/60px "Helvetica";
    white-space: nowrap;
    cursor: pointer;
    color: #e6e6e6;
    background-color: white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.chk:after {
    content: "";
    position: absolute;
    width: 0;
    height: 6px;
    border-bottom: 5px solid #22b573;
    border-left: 5px solid #22b573;
    top: 25%;
    left: 50%;
    transform-origin: bottom left;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all ease-out 200ms;
}
  
.chk:checked:before {
    border: 2px solid #22b573;
}

.chk:checked:after {
    opacity: 1;
    width: 13px;
}

.formControl {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
    color: #737373;
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.trashBtn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 10px;
    background-image: url("../img/toggle-cross.svg");
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

@media (min-width: 320px) and (max-width: 500px) {
    .formControl {
        font-size: 1rem;
    }

    .chk + .label {
        top: 17px;
    }
    
    .trashBtn {
      top: 8px;
    }
}
